Task 1.1. Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:
The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below
i 1 2 3 4 5 6 7 8 9 10
===== == == == == == == == == == ==
Input 10 20 30 40 50 60 70 80 90 100
y1 25 = (10+20+30+40)/4
y2 35 = (20+30+40+50)/4
y3 45 = (30+40+50+60)/4
y4 55 = (40+50+60+70)/4
y5 65 = (50+60+70+80)/4
y6 75 = (60+70+80+90)/4
y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.
Problem Statement:
Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
from numpy import convolve
 
def movingaverage (values, window):          #function to calculate moving average in an array over a window
    weights = np.repeat(1.0, window)/window  #array([0.33333333, 0.33333333, 0.33333333])
    mov_avg_seq = np.convolve(values, weights, 'valid') #Returns the discrete, linear convolution of two one-dimensional sequences
    return mov_avg_seq

TestData = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
print("The moving average sequence has n-k+1 elements as shown below: 13-3+1 = 11 array elements")
print("The moving averages with k=3 of a thirtheen-value sequence (n=13) is shown below")
array = movingaverage(TestData,3)
print(array)

The moving average sequence has n-k+1 elements as shown below: 13-3+1 = 11 array elements
The moving averages with k=3 of a thirtheen-value sequence (n=13) is shown below
[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

Task 2.1. How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}) 
#1:first finding out indices of zeros and adding first indices with -1: [-1,2,7]
izero = np.r_[-1, (df['X'] == 0).nonzero()[0]]  
#2:Creating array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
idx = np.arange(len(df))
#3:array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])-array([1, 2, 0, 1, 2, 3, 4, 0, 1, 2])
df['Y'] = idx - izero[np.searchsorted(izero - 1, idx) - 1]
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Task 2.2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [3]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') #B business day frequency
s = pd.Series(np.random.rand(len(dti)), index=dti)                  #creating series for Random values in a given Datetimeindex
s

2015-01-01    0.420839
2015-01-02    0.352742
2015-01-05    0.815140
2015-01-06    0.514058
2015-01-07    0.052078
2015-01-08    0.392873
2015-01-09    0.724817
2015-01-12    0.311160
2015-01-13    0.663102
2015-01-14    0.261048
2015-01-15    0.552281
2015-01-16    0.925767
2015-01-19    0.049622
2015-01-20    0.855705
2015-01-21    0.950498
2015-01-22    0.858956
2015-01-23    0.036026
2015-01-26    0.869925
2015-01-27    0.308040
2015-01-28    0.726621
2015-01-29    0.465896
2015-01-30    0.795508
2015-02-02    0.456095
2015-02-03    0.266779
2015-02-04    0.729899
2015-02-05    0.498998
2015-02-06    0.203708
2015-02-09    0.246903
2015-02-10    0.798352
2015-02-11    0.258700
                ...
2015-11-20    0.645667
2015-11-23    0.368172
2015-11-24    0.019919
2015-11-25    0.391889
2015-11-26    0.988016
2015-11-27    0.635154
2015-11-30    0.118531
2015-12-01    0.140145
2015-12-02    0.668311
2015-12-03    0.529343
2015-12-04    0.278928
2015-12-07    0.188867
2015-12-08    0.396884
2015-12-09    0.310716
2015-12-10    0.813479
2015-12-11    0.409254
2015-12-14    0.068052
2015-12-15    0.644920
2015-12-16    0.133612
2015-12-17    0.213988
2015-12-18    0.245269
2015-12-21    0.866801
2015-12-22    0.844885
2015-12-23    0.252100
2015-12-24    0.919995
2015-12-25    0.231209
2015-12-28    0.314074
2015-12-29    0.545238
2015-12-30    0.664929
2015-12-31    0.133931
Freq: B, Length: 261, dtype: float64

Task 2.3. Find the sum of the values in s for every Wednesday

In [4]:
print(s[s.index.weekday == 2].sum())     #The day of the week with Monday=0,Tuesday=1,Wednesday=2...Sunday=6
print(s[dti.weekday == 2].sum())         #The day of the week with Monday=0,Tuesday=1,Wednesday=2...Sunday=6

24.812046758094805
24.812046758094805

Task 2.4. Average For each calendar month

In [5]:
s.resample('M').mean()    #Convenience method for frequency conversion and resampling of time series

2015-01-31    0.541032
2015-02-28    0.377643
2015-03-31    0.454692
2015-04-30    0.501976
2015-05-31    0.491133
2015-06-30    0.475475
2015-07-31    0.542585
2015-08-31    0.475798
2015-09-30    0.517817
2015-10-31    0.537440
2015-11-30    0.499806
2015-12-31    0.426736
Freq: M, dtype: float64

Task 2.5 For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [6]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-21
2015-05-31   2015-04-03
2015-09-30   2015-06-11
2016-01-31   2015-11-26
dtype: datetime64[ns]